# archivos de cache y configuracion local
.ipynb_checkpoints
__pycache__/
.vscode/
.meli/
meli/
.meli
meli

# archivos de datos
data/
*.xlsx
*.xls
*.csv
*.log
*.zip
*.pdf
*.txt
*.parquet
*.xlsb
*.7z
*.ini
*.jpg